{% extends 'layout.html' %}
{% block content %}
    <div class="heads name">Blog</div>
    <div class="cont">
        <p class="conte">The <a class="imp">things</a> I do hear, the things I do <a class="imp">say</a>.<br> The things
            I
            want to <a class="imp">hear</a>, the <a class="imp">things</a> I want to say.
        </p>
    </div>

    <div class="posts">
        {% for post in posts %}
            <div class="post">
                <h2 class="title">{{ post[1] }}</h2>
                <h5 class="date">{{ post[0] }}</h5>
                <p id="{{ loop.index }}" class="text">{{ post[2] | safe }}</p>
                <a onclick="readMore({{ loop.index }})" class="elon" id="readMore{{ loop.index }}">Read More</a>
                <a onclick="hideMore({{ loop.index }})" class="elon" id="hideMore{{ loop.index }}"
                   style="display: none">Hide</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function readMore(ind) {
            document.getElementById(ind).style.height = 'fit-content';
            document.getElementById("readMore" + ind).style.display = 'none';
            document.getElementById("hideMore" + ind).style.display = '';
        }

        function hideMore(ind) {
            document.getElementById(ind).style.height = '8.5vh';
            document.getElementById("hideMore" + ind).style.display = 'none';
            document.getElementById("readMore" + ind).style.display = '';
        }
    </script>
{% endblock %}