{% extends 'layout.html' %}
{% block content %}
    <div class="heads name">Connect</div>

    <div class="cont">
        <p class="conte">Need a <a href="#">crazy website</a>? A quick <a href="#">software</a> solution.. Or just wanna grab <a href="https://www.baskinrobbinsindia.com/" target="_blank">ice-cream</a>?<br>Drop me a message!</p>
    </div>

    <form name="connect" method="post" action="{{ url_for('connect') }}">
        <label class="l1" for="email">Email</label>
        <label class="l2" for="subject">Subject</label>
        <label class="l3" for="con">Content</label>
        <input class="t1" type="text" id="email" name="email" placeholder="Your Email ID" required="required">
        <input class="t2" type="text" autocomplete="on" id="subject" name="subject" placeholder="Subject" required="required">
        ​<textarea class="t3" id="con" name="content" rows="10" cols="70" placeholder="Say something!" required="required"></textarea>
        <button class="btn btn-primary but" type="submit">Send</button>
    </form>


{% endblock %}
