{% extends 'layout.html' %}
{% block content %}

    <div class="name">Hello, World!</div>

    <div class="dets">
        <ul class="detPoints">
            <li>I am <a class="imp" href="https://www.instagram.com/bas_kar_na_yar/">Bhaskar Nair</a></li>
            &nbsp;
            <li>I lived in <a class="imp" href="#">Nainital</a></li>
            <li>I moved to <a class="imp" href="#">Hyderabad</a></li>
            <li>Now I live in <a class="imp" href="#">Chennai.</a></li>
            &nbsp;
            <li><a class="imp" href="#">Python</a> is my first love</li>
            <li><a class="imp" href="#">SQL</a> is second</li>
            <li><a class="imp" href="#">Jetbrains</a> is third</li>
            <li><a class="imp" href="https://www.baskinrobbinsindia.com/">Coffee</a> is the <a class="imp">Zeroeth.</a>
            </li>
            &nbsp;
            <li>I used to work for <a class="imp">Software Association</a>, SRM University</li>
            <li>I don't work there anymore, cause <a class="imp">I got old</a> but they're still cool</li>
            &nbsp;
            <li>I currently work with people who wish to bring a <a class="imp">Major Impact</a> on the world</li>
            <li>I am the <a class="imp">Founder Of OptimusCP.io</a></li>
            &nbsp;
            <li>BTW, this is just a <a class="imp">Dummy Site</a> the main site is in progress</li>
        </ul>
    </div>

    <div class="poem">
        <p class="verse">
            Watch it dance-the world's<br> heaving turning,<br>
            Instants pass and answer <br>all life's yearning,<br>
            Count it up-the sands<br> flying through the glass.<br>
            Slurp life down, <br>let its pickle end your fast.<br>
            Chemicals courses <br>and satisfaction slowly fades...<br>
            Flesh enlists in ecstasy<br> as bliss plough your veins,<br>
            And doom spreads its wares on your life's<br> cracked remains.<br>
        </p>
    </div>


{% endblock %}