{% extends 'layout.html' %}
{% block content %}
    <div class="name">
        <div class="heads">Hello, World!</div>
    </div>

        <div class="poem">
            <p class="verse">
            The clock strikes twelve<br>
            Lost in the mystery of dark.<br>
            The glimmer all but lost<br>
            If not for the stars<br>
            As they get drunk on infinity.<br>
                <br></p>
            <p class="verse">
            The soul leaves the body<br>
            In search of dawn..<br>
            But comes across a dance of<br>
            Some lost fairies,<br>
            Little glitters in the night sky.<br>
                <br></p>
            <p class="verse">
            Awake and up<br>
            At the first rays of the sun.<br>
            Just a dream, nothing more.<br>
            Got a big day and a lot of work<br>
            Just as your fingers leave<br>
            A trail of fairydust, I believe.<br>
            </p>
        </div>


{% endblock %}