<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<div class="cov"><p class="rotText">Aspect Ratio too small..<br>Please Rotate Your Device</p>
</div>
<div class="container">
<div class="grid">
<div class="nav-wrap">

    <div class="navs" ><a href="{{ url_for('index') }}">Home</a></div>
    <div class="navs" ><a href="{{ url_for('blog') }}">Blog</a></div>
    <div class="navs" ><a href="{{ url_for('connect')}}">Connect</a></div>
    <div class="navs" ><a href="{{ url_for('gallery')}}">Gallery</a></div>
</div>

{% block content %}

{% endblock %}
<nav class="navbar navbar-default navbar-fixed-bottom bottom">
  <div class="container sal">
    <div class="salx">
        Made with <i class="fas fa-heart" id="heart"></i> using Flask
    </div>

  </div>
</nav>

</div>
</div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <script type="text/javascript">
        alert('{{ message }}');
        </script>
        <!--Script For message Flash. Do not delete Dumbo!! -->
        {% endfor %}
        {% endif %}
        {% endwith %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>