<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resume.css') }}">
    <title>Resume</title>
</head>

<body>
    <div class="resume_holder">
        <img src="{{ url_for('static', filename='img/resume_main.png') }}" title="Resume" />
        <div class="links">
            <h1>Quick Links</h1>
            <a href="https://www.bstark.tech">Website Home</a>
            <a href="https://github.com/bhaskar-nair2" target="_blank">Github</a>
            <a href="https://optimuscp.io/" target="_blank">OptimusCP Website</a>
            <a href="https://stackoverflow.com/users/story/4347232">Stackoverflow Profile</a>
        </div>

    </div>

</body>

</html>